/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 2, 2014, 10:18:07 PM
    Author     : filippov
*/

.header {
    width: 100%;
    height: 20%;
    font-size: 24px;
    border-color: #468847;
    background-color: lightgreen;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
    text-align: center;
}
.main {
    //font-family: monospace;
    font-size: 10px;
    width: 100%;
    height: 300px;
    border-color: #515151;
    background-color: #999999;
    border-radius: 10px;
    border-width: medium;
    border-style: solid; 
}
.footer {
    font-family: monospace;
    font-size: 10px;
    width: 100%;
    height: 100px;
    border-color: #515151;
    background-color: #DDD;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
}
.log {
    height: 70%;
    width: 99%;
    border-width: thin;
    border-radius: 4px;
}
.coord-area {
    height: 97%;
    width: 70%;
    border-width: thin;
    border-radius: 8px;
    text-align: left;
    position: relative;
    float: left;
    //margin: 2px;
}
.button-area {
    height: 97%;
    width: 29%;
    position: relative;
    float: right;
    border-width: thin;
    border-radius: 8px;
}
.buttons{
    margin: 5px;
    width: 97%;
}

.wkt{}
.mif{}
.cad{}
.geojson{}